<!doctype html>
<html>
    <head>
        <title>Hatch Hours</title>
        {% assets "css_all" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
    <head>
    <body>
        <div class="page-header-centered" style="margin-left: 20px;margin-right: 5px;">
            <h1>Upcoming Hours</h1s>
        </div>
    <div class="container-fluid hours">

        {% if events %}
        {% for event in events %}
            {% if event['summary'].lower().strip() == "open" %}
                <div class="row open">
            {% elif event['summary'].lower().strip() == "closed" %}
                <div class="row closed">
            {% endif %}

            <!-- date -->
            <div class="weekday">
                <h1>
                {% if loop.index0 == 0  %}
                    TODAY
                {% elif loop.index0 == 1 %}
                    TOMORROW
                {% else %}
                    {{event['start'].get('dateTime', event['start'].get('date'))|weekday}}
                {% endif %}
                </h1>
            </div>

            <div class="date">
                 <h3>{{event['start'].get('dateTime', event['start'].get('date'))|date}}</h3>
            </div>

            {% if event['summary'].lower().strip() == "closed" %}
               <div class="start_time">
                CLOSED
                </div>

            {% else %}
             <div class="start_time">
                {{event['start'].get('dateTime', event['start'].get('date'))|time}}
            </div>

            <div class="end_time">
                {{event['end'].get('dateTime', event['start'].get('date'))|time}}
            </div>
            {% endif %}

            </div>
        {% endfor %}
        {% endif %}
    </div>

        {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>

