<!doctype html>
<html>
    <head>
        <title>Hello Flask</title>
        {% assets "css_all" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
    <head>
    <body>
        {%if events %}
        {% for event in events %}
        <div class="row">
            <p>{{event}}</p>
        </div>
        {%endfor%}
        {%endif%}

        {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>
